@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
    margin: 30px;
    padding: 50px;
    background-color: rgb(0, 0, 0);
}

.container{
    margin: 30px;
    background-color: rgb(227, 56, 56);
    color: rgb(0, 0, 0);
}